#sac{display:flex;
    align-items:center;
    justify-content:center;
    margin-top:5%;
    }

 /* body {
     background-color:#acb4cf ;
 }     */
 body{
    background: url('https://media.istockphoto.com/vectors/guilloche-design-in-pastel-beige-hues-technology-colored-background-vector-id1139085224?k=6&m=1139085224&s=612x612&w=0&h=G01Mp74y5EkC49HkqWhtnNm3hF785FOG72v6O_Ji-S0=

') ;
    background-size: cover;
     -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
         /* background-color:navy; */
    }

 #clouds{
     text-align: end;
display:inline;
font-size: 250%;
 }

 #desc{
text-align: center;
 }
 .navbar-brand{
     justify-content: center;
 }
 
 .card{
border: 5px solid rgb(203, 214, 224,0.7);
border-radius:5%;
 }
